<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produits</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
</head>
<p> </p>
<body>
  <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">Saisie d'un produit</div>
            <div class="panel-body">
                <form th:action="@{/save}" method="post">
                    <div class="form-group">
                        <label for="designation">Désignation</label>
                        <input type="text" name="designation" class="form-control"/>
                        <label for="prix">Prix</label>
                        <label for="prix">Prix</label>

      </div>
  </div>
</body>
</html>