<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Produits</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/index}" method="get">
            <input type="text" name="mc" th:value="${motCle}"/>
            <button class="btn btn-primary">Chercher</button>
        </form>
    </div>
    <div class="container">
        <h3>Liste des Produits</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th><th>Désignation</th><th>Prix</th><th>Quantité</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${listProduits}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.designation}"></td>
                <td th:text="${p.prix}"></td>
                <td th:text="${p.quantite}"></td>
                <td><a th:href="@{edit(id=${p.id})}">Edit</a></td>
                <td><a onclick="return confirm('Etes-vous sure?')" th:href="@{delete(id=${p.id},page=${pageCourante},size=${size},motCle=${motCle})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:each="pa,status:${pages}" th:class="${pageCourante} == ${status.index} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{index(page=${status.index}, size=${size},mc=${motCle})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
